.containerInputBoxComponent {
   display: flex;
   flex-direction: column;
}

.titleInputBoxComponent {
   font-family: 'Poppins';
   font-weight: 500;
   font-style: Medium;
   font-size: 15px;
   line-height: 24px;
   letter-spacing: 0%;
   color: #737373;
   margin: 0;
}

.inputBox {
   box-shadow: 0px 0px 2px 2px #D9D9D9;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   padding: 5px 10px;
   margin-top: 5px;
}