.leftNavigationContainer {
   background-color: #D6E2D9;
   height: 100vh;
   width: 16vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px 20px;
   padding-bottom: 5px;
   padding-right: 2px;
}

.wellvantageLogoLeftNavigation {
   width: 35%;
   height: auto;
}

.leftNavigationBarlistItemContainerBox {
   display: flex;
   flex-direction: column;
   gap: 25px;
   margin-top: 15px;
}

.listItemContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.leftNavigationListItemIcon {
   width: 20px;
   height: auto;
}

.leftNavigationListItemTitle {
   font-family: "Poppins";
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   letter-spacing: 0px;
   color: #333333;
   margin: 0;
}

.listItemContainer {
   display: flex;
   flex-direction: row;
   gap: 5px;
}

.leftNavigationBarUserBox {
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #28A74545;
   padding: 10px 15px;
   gap: 10px;
   border-radius: 10px;
   margin-top: 50px;
}

.leftNavigationBarAvatar {
   height: 20px;
   width: 20px;
   border-radius: 20px;
}

.leftNavigationBarUserName {
   font-family: Public Sans;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0px;
   color: #333333;
   margin: 0;
}

.leftNavigationBarLogoutBox {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 12px;
}

.leftNavigationBarlogoutIcon {
   height: 20px;
   width: 20px;
}

.leftNavigationBarlogoutTxt {
   font-family: "Poppins";
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 0px;
   color: #333333;
}