.containerSortItemsComponent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #F6F6F8;
  box-shadow: 0px 0px 2px 2px #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
}

;

.labelSortItemsComponent {
  color: #737373;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0%;
  margin: 0;
}

;

.iconSortItemsComponent {
  font-size: 14px;
  opacity: 0.8;
}

;